.buscador {
  width: 100%;
  max-width: 1500px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.campo {
  border: none;
  position: relative;
  width: 33%;
}

.campo input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid var(--blanco);
  color: var(--blanco);
  font-size: 16px;
  padding: 5px 0;
  outline: none;
}

.campo input:disabled {
  border-bottom: 2px solid rgba(192, 192, 192, 0.6)
}

.campo input:disabled + label, 
.campo label[for="competicion"]:disabled { 
  color: rgba(255, 255, 255, 0.6);
}

.campo input.input-valido {
  border-bottom: 2px solid var(--verde);
}

.campo input.input-invalido {
  border-bottom: 2px solid var(--rojo);
}

.sugerencias {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
}

.sugerencias li {
  height: 30px;
  padding: 8px;
  font-size: 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--blanco);
  background-color: var(--fondo-sugerencias);
}

.sugerencias li:hover {
  background: var(--negro);
}

@media (max-width: 767px){
  .buscador {
    flex-direction: column;
  }

  .buscador .campo{
    width: 100%;
  }

  .main-tienda {
    padding-left: 40px;
    padding-right: 40px;
  }
}