.main-camiseta {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: var(--blanco);
    padding: 20px;
    padding-top: 120px;
    padding-bottom: 200px;
    z-index: 0;
}

/* doble fondo */
.main-camiseta::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/fondos/camisetas.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.05;
    z-index: -1;
    pointer-events: none; /* Asegura que el after no interfiera con los eventos click, hover etc */
}

.main-camiseta .images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin-bottom: 50px;
}

.main-camiseta .images .card-camiseta {
    width: 25%;
    min-width: 200px;
}

.main-camiseta .icon-top-left, .main-camiseta .icon-top-right {
    display: none;
}

.main-camiseta .image {
    width: 15%;
    display: flex;
    justify-content: center;
}

.main-camiseta .image img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.formulario-camiseta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formulario-camiseta .form-group {
    border: none;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formulario-camiseta label {
    display: block;
    width: 300px;
    font-size: 32px;
    align-self: center;
}

.formulario-camiseta input {
    width: 300px;
    padding: 10px;
    border: 1px solid var(--dorado);
    border-radius: 4px;
    background-color: transparent;
    color: var(--blanco);
    text-align: center;
    font-size: 28px;
    transition: box-shadow 0.2s ease;
}

.formulario-camiseta input:focus {
    box-shadow: 0 0 0 1px var(--dorado) inset;
    outline: none;
}

.formulario-camiseta button {
    width: 300px;
}

.datos .alert-container {
    min-height: 100px;
}

.tallas {
    position: absolute;
    top: 100%;
    left: 300px;
    right: 0;
    background: none;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}
  
.tallas li {
    height: 30px;
    padding: 8px;
    font-size: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--blanco);
    background-color: var(--fondo-sugerencias);
}

.tallas li:hover {
    background: var(--negro);
}

.form-group .input-container {
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 4px;
    background-color: transparent;
}

.form-group img {
    cursor: pointer;
    height: 32px;
}

.form-group .plus {
    position: absolute;
    margin-left: 258px;
}

.form-group .minus {
    position: absolute;
    margin-left: 10px;
}

.form-group input.input-valido {
    border: 1px solid var(--verde);
}
.form-group input.input-valido:focus {
    box-shadow: 0 0 0 1px var(--verde) inset;
    outline: none;
}

.form-group input.input-invalido {
    border: 1px solid var(--rojo);
}
.form-group input.input-invalido:focus {
    box-shadow: 0 0 0 1px var(--rojo) inset;
    outline: none;
}

@media (max-width: 768px) {
    .main-camiseta .images {
      overflow-x: auto;
      gap: 20px;
    }

    .main-camiseta .image {
      min-width: 200px;
    }

    .main-camiseta .bottom-text {
        font-size: 12px;
    }

    .main-camiseta .info-container {
        font-size: 10px;
    }

    .formulario-camiseta .form-group {
        flex-direction: column;
    }
    .formulario-camiseta label {
        text-align: center;
    }

    .tallas {
        left: 0;
    }
}

@media (max-width: 500px) {
    .main-camiseta {
        padding-bottom: 0px;
    }
}