.card-camiseta {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.card-camiseta figure {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camiseta-img {
    width: 100%;
    height: auto;
}

.icon-top-left, .icon-top-right {
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 10px;
}

.icon-top-left {
    left: 10px;
}

.icon-top-right {
    right: 10px;
}

.info-left, .info-right {
    width: 50%;
    align-content: center;
    font-size: 14px;
}

.info-left {
    text-align: right;
    text-decoration: line-through;
    color: rgba(240, 240, 240, 0.4);
    padding-right: 2px;
}

.info-right {
    text-align: left;
    color: #379342;
    padding-left: 2px;
}

.info-container {
    display: flex;
    width: 100%;
}

.bottom-text {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .info-left, .info-right {
        font-size: 10px;
    }

    .bottom-text {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}

@media (min-width: 1500px) {
    .card-camiseta figure {
        min-height: 200px;
    }

    .icon-top-left {
        left: 15%;
    }
    
    .icon-top-right {
        right: 15%;
    }
}

@media (max-width: 768px) {
    .card-camiseta figure {
        min-height: 120px;
    }
}

@media (min-width: 768px) and (max-width: 1500px) {
    .card-camiseta figure {
        min-height: 100px;
    }
}