.card-camiseta-carrito{
    position: relative;
    display: flex;
    flex-direction: row;
    max-height: 160px;
    width: 400px;

    background-color: #0D0C0C;
    border-radius: 4px;
    border: white 1px solid;
}

.card-camiseta-carrito .imagenes{
    position: relative;
    width: 40%;
}

.card-camiseta-carrito .icon-top-right{
    display: block;
    position: absolute;
    top: 10;
    right: 10;
}
.card-camiseta-carrito .icon-top-left{
    display: block;
    position: absolute;
    top: 10;
    left: 10;
}

.card-camiseta-carrito figure {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-camiseta-carrito figure img {
    max-height: 100%;
    max-width: 100%;
}


.card-camiseta-carrito .datos {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-camiseta-carrito .datos .precio-og {
    text-decoration: line-through;
    color: rgba(240, 240, 240, 0.4);
}
.card-camiseta-carrito .datos .precio {
    color: #379342;
}

.card-camiseta-carrito .botonBlanco {
    align-self: flex-end;
    height: 20px;
    font-size: 10px;
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.card-camiseta-carrito .botonBlanco .icono{
    height: 10px !important;
    width: 10px !important;
}

.card-camiseta-carrito .botonBlanco .icono-hover{
    width: 8px !important;
}

.formulario-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.formulario-detalles {
    background-color: #0D0C0C;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.formulario-detalles .campos {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.formulario-detalles .campos label{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-detalles .campos input{
    width: 60%;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: #f0f0f0;
    text-align: center;
    transition: box-shadow 0.2s ease;
}

.formulario-detalles .input-container{
    width: 60%;
    display: flex;
    align-items: center;
}

.formulario-detalles .input-container input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: #f0f0f0;
    text-align: center;
    transition: box-shadow 0.2s ease;
}

.formulario-detalles img {
    cursor: pointer;
    height: 16px;
}

.formulario-detalles .plus {
    position: absolute;
    margin-left: 162px;
}

.formulario-detalles .minus {
    position: absolute;
    margin-left: 10px;
}

.formulario-detalles .campos input:focus {
    box-shadow: 0 0 0 1px #EBB93A inset;
    outline: none;
}

.formulario-detalles .campos input.input-valido {
    border: 1px solid #379342;
}
.formulario-detalles .campos input.input-valido:focus {
    box-shadow: 0 0 0 1px #379342 inset;
    outline: none;
}

.formulario-detalles .campos input.input-invalido {
    border: 1px solid #D63030;
}
.formulario-detalles .campos input.input-invalido:focus {
    box-shadow: 0 0 0 1px #D63030 inset;
    outline: none;
}

.formulario-detalles .botones {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botones button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
}

.botones img {
    height: 100%;
}