.main-datos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;
    margin-bottom: 140px;
}

.main-datos .formulario-datos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    padding: 40px;
    border-radius: 4px;
}

.main-datos .formulario-datos h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.main-datos .formulario-datos .campo-formulario {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--dorado);
    border-radius: 4px;
    padding: 6px;
}
.campo-formulario.editable {
    box-shadow: 0 0 0 1px var(--dorado) inset;
    outline: none;
}
.campo-formulario.no-editable {
    opacity: 0.8;
    border-color: #A5A5A5 !important;
}

.main-datos .formulario-datos .campo-formulario:focus {
    box-shadow: 0 0 0 1px var(--dorado) inset;
    outline: none;
}

.main-datos .formulario-datos .campo-formulario figure{
    width: 10%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-datos .formulario-datos .campo-formulario figure img{
    width: auto;
    height: 100%;
}

.main-datos .formulario-datos label {
    width: 100%;
    display: none;
}

.main-datos .formulario-datos input {
    all: unset;
    width: 80%;
    height: 100%;
    align-self: flex-end;
    font-size: 16px;
}
  
.main-datos .formulario-datos .botonBlanco span {
    justify-content: center;
}

.main-datos .formulario-datos .campo-formulario .controles {
    position: absolute;
    top: calc(100% + 8px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.main-datos .formulario-datos .campo-formulario .controles figure {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}
.main-datos .formulario-datos .campo-formulario .controles figure:hover {
    opacity: 1;
}

.main-datos .formulario-datos article {
    width: 100%;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-inner {
    position: relative;
    background: var(--blanco);
    color: var(--negro);
    padding: 20px;
    border-radius: 10px;
    min-width: 200px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.botones button {
    padding: 5px 10px;
    border: none;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.botones button:hover {
    color: var(--negro);
    background-color: var(--blanco);
    box-shadow: inset 0 0 0 1px var(--negro);
}

.botones button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
}