footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgba(13, 12, 12, 0.8);
    height: 90px;
    width: 100vw;
    
    color: #f0f0f0;
    font-size: 16px;
  }

.footerElements {
    width: 100%;
    max-width: 1500px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.footerElements a {
    color: #f0f0f0;
    opacity: 0.4;
    text-decoration-line: underline;
    transition: opacity 300ms ease-in-out;
}
.footerElements a:hover {
    opacity: 1;
}

.footerElements p{
    text-align: left;
}

.footerElements div p:nth-of-type(2) {
    opacity: 0.4;
    align-self: flex-end;
}

.location, .contact {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.location img, .contact img {
    margin-right: 10px;
    width: 40px;
    height: auto;
    grid-row: span 2;
}

.social-media img {
    width: 32px;
    height: auto;
    margin: 0 10px;
    opacity: 0.25;
    transition: opacity 300ms ease-in-out;
}

.social-media img:hover {
    opacity: 1;
}


@media (max-width: 1200px) {
    footer {
        height: auto;
        min-height: 90px;
        padding-top: 20px;
    }
    
    .footerElements {
        font-size: 12px;
        flex-wrap: wrap;
        height: auto;
    }

    .footerElements div {
        margin-bottom: 20px;
    }
}

@media (max-width: 513px){
    footer {
        background-color: rgb(13, 12, 12);
    }

    .footerElements {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 1921px) {
    .social-media img {
        height: auto;
        margin: 0 1vw;
    }
}