.main-pago {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 140px;
}

.main-pago h2 {
    width: 100%;
    text-align: center;
}

.main-pago form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--blanco);
    color: var(--negro);
    padding: 30px;
    border-radius: 4px;
    border: 2px solid var(--negro);
    box-shadow: 0 2px 10px var(--negro);
}

.main-pago form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.main-pago form input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: var(--negro);
    padding: 5px 0;
    outline: none;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}
.main-pago form input:focus {
    border-color: var(--negro);
}

.main-pago form label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

.summary {
    width: 100%;
    max-width: 367px;
    height: 200px;
    color: var(--negro);
    background-color: var(--blanco);
    border-radius: 4px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.summary-item {
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-item:nth-child(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.summary-item:nth-child(3) {
    font-weight: bold;
    font-size: 16px;
}

.main-pago .alert-container{
    flex-direction: column;
}

.alert-dialog {
    display: none !important;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.alert-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
}

.progress-bar-error {
    margin-top: 10px;
}