@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

:root {
  --bootstrap-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --blanco: #f0f0f0;
  --negro: #0D0C0C;
  --dorado: #EBB93A;
  --rojo: #DF3C31;
  --verde: #379342;
  --fondo-sugerencias: #1f1c1c;
  }

*, *::before, *::after {
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--bootstrap-font-family);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

figure {
  margin: 0 !important;
}

p {
  margin: 0 !important;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}