.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s forwards;
}

.modal-overlay.fade-out {
    animation: fadeOut 0.3s forwards;
}

.modal-content {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
  
.modal-prev, .modal-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}
  
.modal-prev {
    width: 48px;
    height: 48px;
    left: 20px;
}
  
.modal-next {
    width: 48px;
    height: 48px;
    right: 20px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}