.main-tienda {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--negro);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-around;*/
  gap: 40px;
  color: hsl(0, 0%, 94%);
  padding: 20px;
  padding-top: 120px;
  z-index: 0;
}
/* doble fondo */
.main-tienda::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/fondos/camisetas.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.05;
  z-index: -1;
  pointer-events: none; /* Asegura que el after no interfiera con los eventos click, hover etc */
}

h1 {
  width: 100vw;
  box-shadow: none;
  font-size: 32px;
}

.top-ventas {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.resultados-busqueda {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 140px;
}

.resultados-busqueda h2{
  text-align: center;
}
.resultados-busqueda .card-camiseta figure {
  min-height: 230px;
}

.resultados-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: center;

  max-height: 640px;
  overflow: hidden;
  position: relative;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.pagination-controls button {
  margin: 0 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.pagination-controls button .wrapper span{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .top-ventas {
    flex-direction: column;
    align-items: center;
  }

  .top {
    width: 60% !important;
    margin-bottom: 100px;
  }
}

@media (max-width: 500px) {
  .top {
    width: 100% !important;
  }
}