@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

:root {
  --bootstrap-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: var(--bootstrap-font-family);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

h1, a {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

body::-webkit-scrollbar {
  display: none;
}
