@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

h1, a {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

::-webkit-scrollbar {
  display: none;
}
